.container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 12);

  > * {
    @media (width >= 40rem) {
      margin-inline: auto;
      width: 100%;
      max-width: 24rem;
    }
  }
}

.heading {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
}

.formContainer {
  margin-top: calc(var(--spacing) * 10);
}

.submitButton {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: var(--color-text);
  color: var(--color-base);
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 1.5);
  cursor: pointer;

  &:hover {
    background-color: #374151;
  }

  &:disabled {
    cursor: initial;
    background-color: var(--color-accent);
  }
}

.message {
  margin-top: calc(var(--spacing) * 10);
  text-align: center;

  a {
    color: var(--color-action);
    text-decoration: underline;

    &:hover {
      color: var(--color-action-hover);
    }
  }
}

.error {
  margin-bottom: calc(var(--spacing) * 10);
}
