.container {
  padding-block: 32px;
  border-bottom: 1px solid var(--color-input);
}

.header {
  display: flex;
}

.metadata {
  flex: 1;
}

.timestamp {
  color: var(--color-accent);
  font-size: 0.875rem;
}

.content {
  padding-block: 10px;
}

.action,
.delete {
  cursor: pointer;

  &:hover {
    color: var(--color-text);
  }
}

.delete {
  --color-text: #9f0712;
  color: #c94a4a;
}

.user {
  background-color: var(--color-input);
  color: var(--color-accent);
  padding-inline: 4px;
  font-size: 0.875rem;
  border-radius: 0.375rem;
}
