.header,
.container {
  margin-inline: 24px;

  @media (width >= 48rem) {
    margin-inline: 112px;
  }
}

.header {
  display: flex;
  margin-top: 24px;
  border-bottom: 1px solid var(--color-input);
}

.heading {
  position: relative;
  bottom: -1px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-text);
}

.post {
  padding-block: 32px;
  border-bottom: 1px solid var(--color-input);
}

.postTitle {
  font-size: 1.25rem;
  font-weight: 700;

  @media (width >= 48rem) {
    font-size: 1.5rem;
  }
}

.metadata {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 12px;
  font-size: 0.875rem;
  color: var(--color-accent);
}

.iconData {
  display: flex;
  gap: 4px;
  align-items: center;
}
