.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
  height: 57px;
  border-bottom: 1px solid var(--color-input);
}

.brand {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 1.5rem;
}

.main {
  flex: auto;
}
